{% extends 'base.html' %}
{% load static %}
{% block body %}
<div id="service" class="service" style="margin-top:0px;">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage" style="text-align:justify">
               <h2>Blog </h2>
            </div>
         </div>
      </div>
   </div>
   <div class="container margin-r-l">
      <div class="row">
         {% for blog in allblogs %}
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 thumb">
            <div class="service-box">
               <figure>
                  <a href="/blog/{{blog.title}}" class="fancybox" rel="ligthbox">
                  <img  src={{blog.image.url}} class="zoom img-fluid "  alt="">
                  </a>
                  <span class="hoverle">
                  <a href="/blog/{{blog.title}}" class="fancybox" rel="ligthbox">{{blog.title}}</a>
                  </span>  
               </figure>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</div>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>  
      <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
      <script>
         function openNav() {
           document.getElementById("mySidenav").style.width = "100%";
         }
         
         function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
         }
      </script>
{% endblock body %}