{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="layout_padding">
   <div class="container">
      {% for blog in allblogs %}
     <div class="about_section_main" style="margin-top:25px; padding-bottom:25px">
        <div class="row">
            <div class="col-md-6">
               <div><img src={{blog.image.url}} class="image_3"></div>
            </div>
            <div class="col-md-6">
               <div class="about_taital_main" style="text-align:justify">
                  <a href="blog/{{blog.title}}"><h2 class="about_text" style="font-size:26px">{{blog.title}}</h2></a>
                  <p class="about_text" style="font-size:16px">{{blog.description |safe |slice:":400"}}  <h3 ><a style="color:green;" href="blog/{{blog.title}}" title="">More...</a></h3></p>
                  {% comment %} <div class="readmore_bt"><a href="#">Read More</a></div> {% endcomment %}
               </div>
            </div>
           
        </div>
     </div>
     {% endfor %}
  </div>
</div>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>  
      <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
      <script>
         function openNav() {
           document.getElementById("mySidenav").style.width = "100%";
         }
         
         function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
         }
      </script>
{% endblock body %}