{% extends 'base.html' %}
{% load static %}
{% block body %}
<div id="service" class="service" style="margin-top:0px;">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage" style="text-align:left">
               <h2>Services </h2>
               <span>We are a leading provider of Digital Marketing, Affiliate Marketing and Influencer Marketing. Our team of experts has years of experience in promoting your business through different platforms which are suitable for your business and is committed to delivering exceptional results for our clients.<br><br>

                  Our services are designed to help businesses showcase their products, services and presence online. Whether you are looking to keep yourself on the top of Search Engine Pages or among the top rated social media pages, we have the knowledge and expertise to help you achieve your objectives.<br>
                  Some of our key services include:<br>
                  {% for service in services %}
                  <span style="font-weight:600;"> {{service.title}}</span>: {{service.description}}
                  <br>
                  {% endfor %}
                  
            </div>
         </div>
      </div>
   </div>
   <div class="container margin-r-l">
      <div class="row">
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 thumb">
            <div class="service-box">
               <figure>
                  <a href="/blog/Digital Marketing Services and Online Marketing Solutions" class="fancybox" rel="ligthbox">
                  <img  src="{% static "images/1.jpg" %}" class="zoom img-fluid "  alt="">
                  </a>
                  <span class="hoverle">
                  <a href="/blog/Digital Marketing Services and Online Marketing Solutions" class="fancybox" rel="ligthbox">Digital Marketing</a>
                  </span>  
               </figure>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 thumb">
            <div class="service-box">
               <figure>
                  <a href="/blog/Influencer Marketing" class="fancybox" rel="ligthbox">
                  <img  src="{% static "images/2.jpg" %}" class="zoom img-fluid "  alt="">
                  </a>
                  <span class="hoverle">
                  <a href="/blog/Influencer Marketing" class="fancybox" rel="ligthbox">Influencer marketing</a>
                  </span>
               </figure>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 thumb">
            <div class="service-box">
               <figure>
                  <a href="/blog/Google listing(Digital Marketing)" class="fancybox" rel="ligthbox">
                  <img  src="{% static "images/3.jpg" %}" class="zoom img-fluid "  alt="">
                  </a>
                  <span class="hoverle">
                  <a href="/blog/Google listing(Digital Marketing)" class="fancybox" rel="ligthbox">Google listing</a>
                  </span>
               </figure>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 thumb">
            <div class="service-box">
               <figure>
                  <a href="/blog/Google listing(Digital Marketing)" class="fancybox" rel="ligthbox">
                  <img  src="{% static "images/4.jpg" %}" class="zoom img-fluid "  alt="">
                  </a>
                  <span class="hoverle">
                  <a href="/blog/Google listing(Digital Marketing)" class="fancybox" rel="ligthbox">Marketing</a>
                  </span> 
               </figure>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 thumb">
            <div class="service-box">
               <figure>
                  <a href="/blog/Affiliate Marketing" class="fancybox" rel="ligthbox">
                  <img  src="{% static "images/5.jpg" %}" class="zoom img-fluid "  alt="">
                  </a>
                  <span class="hoverle">
                  <a href="/blog/Affiliate Marketing" class="fancybox" rel="ligthbox">Digital marketing</a>
                  </span> 
               </figure>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 thumb">
            <div class="service-box">
               <figure>
                  <a href="/blog/Affiliate Marketing" class="fancybox" rel="ligthbox">
                  <img  src="{% static "images/6.jpg" %}" class="zoom img-fluid "  alt="">
                  </a>
                  <span class="hoverle">
                  <a href="/blog/Affiliate Marketing" class="fancybox" rel="ligthbox">Affiliate maketing</a>
                  </span>
               </figure>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end service -->
{% endblock body %}